node_modules
.next
.local
package-lock.json
prisma/migrations
uploads
*.tsbuildinfo
AGENTS.md
CLAUDE.md
mobile/android/.gradle
mobile/android/.kotlin
mobile/android/**/build
mobile/ios/DerivedData
mobile/ios/build
mobile/ios/*.xcodeproj
mobile/ios/*.xcworkspace
